.azul2 {
	COLOR: #2f4090; FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.txng13b {
	COLOR: #000000; FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.sel {
	BACKGROUND-COLOR: #000000; layer-background-color: #00ff00
}
.combo {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.atexto { COLOR: #999999; FONT-FAMILY: Arial; FONT-SIZE: 9pt; background-position: center center; letter-spacing: normal; text-align: justify; word-spacing: normal ; font-weight: 700; text-indent: 0pt ; overflow: visible; position: absolute; visibility: inherit; z-index: auto; height: 15px; width: 340px; left: 45px; top: 45px; clip: rect( ) ; font-style: normal; text-decoration: none}
.atitulo { COLOR: #2f4090; FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-DECORATION: none ; font-weight: bold}
.atitulo { COLOR: #2f4090; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none ; overflow: visible; position: absolute; visibility: inherit; z-index: auto; height: 19px; width: 260px; left: 25px; top: 25px; clip:  rect(   )}
.aident1 { COLOR: #999999; FONT-FAMILY: Arial; FONT-SIZE: 10pt; background-position: center center; letter-spacing: normal; text-align: justify; word-spacing: normal ; font-weight: 100; line-height: normal ; overflow: visible; position: absolute; visibility: inherit; z-index: auto; height: 15px; width: 285px; left: 100px; top: auto; clip:  rect(   ); font-style: normal; text-decoration: none}
.aident2 { COLOR: #999999; FONT-FAMILY: Arial; FONT-SIZE: 9pt ; background-position: center center; letter-spacing: normal; text-align: justify; word-spacing: normal ; font-weight: 700; text-indent: 0pt ; line-height: normal ; overflow: visible; position: absolute; visibility: inherit; z-index: auto; height: 15px; width: 265px; left: 120px; top: auto; clip:  rect(   )}
.frameLeft { COLOR: #004080; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none }
.frameLeftOn  { COLOR: #408080; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none }
.frameLeftTitulo { COLOR: #004080; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-DECORATION: none }
.frameLeftSubItem { COLOR: #004080; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none }
.frameLeftSubItemOn { COLOR: #408080; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none }
