<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>PortalAbadWeb</display-name>
	<servlet>
	   <display-name>LogonOperacionServlet</display-name>
		<servlet-name>LogonOperacionServlet</servlet-name>
		<servlet-class>com.grupobbva.ii.sf.servlets.LogonOperacionServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InicioCBTFServlet</display-name>
		<servlet-name>InicioCBTFServlet</servlet-name>
		<servlet-class>com.grupobbva.ii.sf.servlets.InicioCBTFServlet
		</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>nivelLog</param-name>
			<param-value>SOMTBE</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>ficheroinicio</param-name>
			<param-value>DSE_PORTAL_ABAD</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>tituloTrace</param-name>
			<param-value>PortalEmpCo</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogonAnonimoServlet</display-name>
		<servlet-name>LogonAnonimoServlet</servlet-name>
		<servlet-class>com.grupobbva.ii.sf.servlets.LogonAnonimoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OperacionCBTFServlet</display-name>
		<servlet-name>OperacionCBTFServlet</servlet-name>
		<servlet-class>com.grupobbva.ii.sf.servlets.OperacionCBTFServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FinCBTFServlet</display-name>
		<servlet-name>FinCBTFServlet</servlet-name>
		<servlet-class>com.grupobbva.ii.sf.servlets.FinCBTFServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MOTrace</display-name>
		<servlet-name>MOTrace</servlet-name>
		<servlet-class>so.core.security.MOTrace
		</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>atr_id</param-name>
			<param-value>BDNT</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InicioCBTFServlet</servlet-name>
		<url-pattern>/InicioCBTFServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogonAnonimoServlet</servlet-name>
		<url-pattern>/LogonAnonimoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OperacionCBTFServlet</servlet-name>
		<url-pattern>/OperacionCBTFServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinCBTFServlet</servlet-name>
		<url-pattern>/FinCBTFServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogonOperacionServlet</servlet-name>
		<url-pattern>/LogonOperacionServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MOTrace</servlet-name>
		<url-pattern>/MOTrace</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/no_sesion.jsp</location>
	</error-page>
</web-app>